PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://charvisingh:password@cluster0.pabgm6d.mongodb.net
ACCESS_TOKEN_SECRET=secretkeyforaccesstoken1234567890
REFRESH_TOKEN_SECRET=secretkeyforrefreshtoken1234567890
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dvoggndop
CLOUDINARY_API_KEY=api_key_for_cloudinary
CLOUDINARY_API_SECRET=api_secret_for_cloudinary