@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#09090B;
  color:white;
  font-family:Inter,sans-serif;
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#111827;
}

::-webkit-scrollbar-thumb{
  background:#6366F1;
  border-radius:100px;
}

::-webkit-scrollbar-thumb:hover{
  background:#4F46E5;
}

button{
  cursor:pointer;
}